<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>SIMS</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="insertPage/style_insert.css">
</head>

<body>
<div th:replace="Header :: header" th:remove="tag"></div>
  <main>
    <div class = "side_input">
      <div class = "side_name">내역입력</div>
      <form action="/insert/new" method="post">
      	<div class = "side_prdt">물품을 선택해주세요</div>
        <select id="product" name="product">
			<option th:each="product: ${products}" th:text="${product.name}" th:value="${product.name}"></option>
      	</select>
      	<div class = "side_amnt">수량을 입력해주세요</div>
      	<input type="text" name="amount" id="amount">
      	<div class = "side_cost">단가를 입력해주세요</div>
      	<input type="text" name="cost" id="cost">
      	<div class = "side_date">판매 날짜를 입력해주세요</div>
      	<input type="date" name="date" id="date">
      	<br>
      	<div class = "side_chos">
        	<label>
          		<input type="radio" name="type" value="sell" checked>
          		<span>수입</span>
        	</label>
        	<label>
          		<input type="radio" name="type" value="buy">
         	 	<span>지출</span>
        	</label>
      	</div>
      	<br>
      	<button type="submit" id="post_btn">제출</button>
      	<input type="reset" id="clear_btn" value="초기화">
      </form>
    </div>
  </main>
</body>
</html>