@charset "UTF-8";

/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  
  height: 75px;
  padding: 4rem;
  color: #68CDB4;
  background: #FFFFDD;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin: 0;
  font-size: 50pt;
  font-family: 'Gill Sans MT';
}

h1 a {
  text-decoration: none;
  color: #68CDB4;
}

nav {
  font-size: 25pt;
  font-family: '나눔스퀘어';
  position: relative;
}

nav ul {
  padding: 0;
  margin: 0 auto;
  width: auto;
}

nav li { }

nav a{
  line-height: 50px;
  height: 50px;
}

nav li a {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

nav li:last-child a{
  border-right: 0;
}

nav a:hover, nav a:active { }

nav a#pull {
  display: none;
}

html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul {
  /*list-style-type: none;*/
  margin: 0;
  padding: 0;
  background-color: #FFFFDD;
  text-align: center;
  height: 50px;
}

li {
  /*position: relative;*/
  display: inline-block;
}

li a {
  color: #68CDB4;
  text-align: center;
  padding: 14.5px 16px;
  text-decoration: none;
}

li a:hover {
  color: #68CDB4;
  font-weight: normal;
}

#logout_btn {
  border: none;
  outline: 0;
  background-color: transparent;
  color: #68CDB4;
  font-size: 20pt;
  font-family: '나눔스퀘어';
  padding: 0;
}

.menu {
  width: 5000px;
  height: 50px;
  text-align: center;
  max-width: 100%;
  background-position: center;
  background-size: cover;
  background-color: #FFFFDD; color: #68CDB4;
  position: fixed; z-index: 1;
}

main {
  padding: 1rem;
  height: 110%;
}

body {
  padding-top: 75px;
  background: #68CDB4;
}

body, html {
  height: 115%;
}

* {
  box-sizing: border-box;
}