<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>SIMS</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <header class="menu">
    <h1><a href="MainPage.html">SIMS</a></h1>
    <nav class="clearfix">
      <u1 class="clearfix">
        <li><a href="AccountPage.html">가계부</a></li>
        <li><a href="InsertPage.html">내역입력</a></li>
        <li><a href="StockPage.html">재고관리</a></li>
        |
        <li><a href="MainPage.html">Login</a></li>
        <li><a href="SignUpPage.html">SignUp</a></li>
      </u1>
      <a id="pull" href="#"></a>
    </nav>
  </header>

    <main>
        <div class = "main-background">
            <div class = "title" align="left">회원가입
                <div class="name-box">
                    <div align="center">
                        <div class = "name-title">이름</div>
                        <input id="name" type="text">
                        <div class="PhoneNumber-title">연락처</div>
                        <input id="PhoneNumber" type="text">
                    </div>
    
                    <div align="center">
                        <div class="ID-title">ID</div>
                        <input id="ID" type="text">
    
                        <div class="PW-title">PW</div>
                        <input id="Password" type="text">
    
                        <div class="passwordcheck-title">PW확인</div>
                        <input id="passwordcheck" type="text">
        
                    </div>
    
                    <div class="signup-button" align="center">
                        <button class="signup-text"><a href="">회원가입</a></button>
                    </div>
            
                </div>
            </div>
     </div>
    </main>
</body>
</html>