<html xmlns:th="http://www.thymeleaf.org">
  <header class="menu">
    <h1><a href="/account">SIMS</a></h1>
    <nav class="clearfix">
      <u1 class="clearfix">
        <li><a href="account">가계부</a></li>
        <li><a href="insert">내역입력</a></li>
        <li><a href="stock">재고관리</a></li>
        <li>
          <form th:action="@{/logout}" method="post">
            <button type="submit"> Logout </button>
          </form>
        </li>
      </u1>
      <a id="pull" href="#"></a>
    </nav>
  </header>
</html>