<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>SIMS</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="stockPage/style_stock.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.0.1/chart.min.js"></script>
</head>

<body>
<div th:replace="Header :: header" th:remove="tag"></div>
  <main>
    <div class="side_content">재고관리</div>
    <div class="left">
    	<div class="left_name">수익 예측(단위 : 하루)</div>
    	<div class="prdgrp_box">
    		<canvas id="mychart_1" width="500" height="430"></canvas>

			<!-- 최근 10일간의 수익 데이터와 예측 데이터 뽑아오기 -->
			<table border="1">
				<tr th:each="account : ${accounts}">
					<td th:text="${account.income}"></td>
				</tr>
				<tr th:each="ap : ${accountPredict}">
					<td th:text="${ap.predict}"/>
				</tr>
			</table>

    		<script>
    			let mychart_1 = document.getElementById('mychart_1').getContext('2d');
  				let myChart_1 = new Chart(mychart_1, {
	    			type: 'bar',
	   				data: {
	      				labels: ['5일 전', '4일 전', '3일 전', '2일 전', '1일 전', '오늘'],
	      			datasets: [{
	          			label: "수익 예측량",
	          			data: [10, 20, 30, 40, 50, 60],
	          			backgroundColor: ['gray', 'gray', 'gray', 'gray', 'gray', 'tomato']
	        			}]
	    			},
	   			 options: {}
				});
 			</script>
    	</div>
    </div>
    <div class="right">
		<form action="/stock/select" method="post">
			<select name="product" id="product" onchange="this.form.submit()">
					<option th:each="product: ${products}" th:text="${product.name}" th:value="${product.name}" th:selected="${product.name} == ${selectedProductName}"></option>
			</select>
		</form>

		<!-- 남은 재고량 뽑아오기 -->
		<div class="prd_left">남은 재고량 : <div th:each="p: ${productStock}" th:text="${p.amount}"></div></div>
    	<div class="paygrp_box">
			<canvas id="mychart_2" width="500" height="430"></canvas>

			<!-- 제품 10일간 판매량, 예측 판매량 뽑아오기 -->
			<table border="1">
				<tr th:each="productSale : ${productSales}">
					<td th:text="${productSale.sales}"></td>
				</tr>
				<tr th:each="psp : ${productSalesPredict}">
					<td th:text="${psp.predict}"></td>
				</tr>
			</table>

			<script th:inline="javascript">
    			let mychart_2 = document.getElementById('mychart_2').getContext('2d');
  				let myChart_2 = new Chart(mychart_1, {
	    			type: 'bar',
	   				data: {
	      				labels: ['4일 전', '3일 전', '2일 전', '1일 전', '오늘', '내일'],
	      			datasets: [{
	          			label: "판매 예측량",
	          			data: [10, 20, 30, 40, 50, 60],
	          			backgroundColor: ['gray', 'gray', 'gray', 'gray', 'gray', 'tomato']
	        			}]
	    			},
	   			 options: {}
				});
 			</script>
    	</div>
    	<div class="prd_tomorrow">내일 판매 예측량 : </div>
    </div>
  </main>
</body>
</html>