<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>SIMS</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="stockPage/style_stock.css">
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</head>

<body>
<div th:replace="Header :: header" th:remove="tag"></div>
  <main>
    <div class="side_content">재고관리</div>
    <div class="left">
    	<div class="left_name">수익 예측(단위 : 하루)</div>
    	<div class="prdgrp_box">
			<canvas id="income_grp" width="500" height="400"></canvas>
			<script th:inline="javascript">
    		/*<![CDATA[*/
      			const myIncome = document.getElementById('income_grp');

        		let accounts = new Array();
        		let account = new Object();
        		let act_final = new Array();
        		var i = 0;

        		/*[# th:each="account : ${accounts.toArray()}"]*/
        		account.income =  /*[[${account.income}]]*/;
        		console.log(i);
        		accounts[i] = account.income;
        		i++;
        		/*[/]*/
        		act_final = accounts.reverse();
        		act_final[5] = /*[[${accountPredict.predict}]]*/;

      			new Chart(myIncome, {
        			type: 'bar',
        			data: {
          				labels: ['4일 전', '3일 전', '2일 전', '1일 전', '오늘', '내일'],
          				datasets: [{
            				label: '수익 예측량',
            				data: act_final,
            				backgroundColor: ['gray', 'gray', 'gray', 'gray', 'gray', 'tomato']
          				}]
        			},
        			options: {
        				title: {
        					display: true,
        					text: '수익 예측량(단위 : 하루)',
        					fontFamily: '나눔스퀘어',
        					fontSize: 20,
        					fontColor: '#349E85'
        				},
        				legend: {
        					labels: {
        						fontColor: '#349E85',
        						fontFamily: '나눔스퀘어'
        					}
        				},
          				scales: {
          					xAxes: [{
          						ticks: {
          							fontColor: '#349E85',
          							fontFamily: '나눔스퀘어'
          						}
          					}],
            				yAxes: [{
              					ticks: {
              						fontColor: '#349E85',
              						fontFamily: '나눔스퀘어',
              						beginAtZero: false
              					}
            				}]
          				}
        			}
      			});
      		/*]]>*/
    		</script>
    	</div>
    </div>
    <div class="right">
    	<form action="/stock/select" method="post">
			<select name="product" id="product" onchange="this.form.submit()">
					<option th:each="product: ${products}" th:text="${product.name}" th:value="${product.name}" th:selected="${product.name} == ${selectedProductName}"></option>
			</select>
		</form>

		<!-- 남은 재고량 뽑아오기 -->
		<div class="prd_left">남은 재고량 : <div class="prd_left_data" th:each="p: ${productStock}" th:text="${p.amount}"></div></div>
    	<div class="paygrp_box">
			<canvas id="pay_grp" width="500" height="400"></canvas>
			<script th:inline="javascript">
    		/*<![CDATA[*/
      			const myPay = document.getElementById('pay_grp');

        		let productSales = new Array();
        		let productSale = new Object();
        		let ps_final = new Array();
        		var i = 0;

        		/*[# th:each="productSale : ${productSales.toArray()}"]*/
        		productSale.sales =  /*[[${productSale.sales}]]*/;
        		console.log(i);
        		productSales[i] = productSale.sales;
        		i++;
        		/*[/]*/
        		ps_final = productSales.reverse();
        		ps_final[5] = /*[[${productSalePredict.predict}]]*/;

      			new Chart(myPay, {
        			type: 'bar',
        			data: {
          				labels: ['4일 전', '3일 전', '2일 전', '1일 전', '오늘', '내일'],
          				datasets: [{
            				label: '판매 예측량',
            				data: ps_final,
            				backgroundColor: ['gray', 'gray', 'gray', 'gray', 'gray', 'tomato']
          				}]
        			},
        			options: {
        				title: {
        					display: true,
        					text: '판매 예측량(단위 : 하루)',
        					fontFamily: '나눔스퀘어',
        					fontSize: 20,
        					fontColor: '#349E85'
        				},
        				legend: {
        					labels: {
        						fontColor: '#349E85',
        						fontFamily: '나눔스퀘어'
        					}
        				},
          				scales: {
          					xAxes: [{
          						ticks: {
          							fontColor: '#349E85',
          							fontFamily: '나눔스퀘어'
          						}
          					}],
            				yAxes: [{
              					ticks: {
              						fontColor: '#349E85',
              						fontFamily: '나눔스퀘어',
              						beginAtZero: false
              					}
            				}]
          				}
        			}
      			});
      		/*]]>*/
    		</script>
    	</div>
    </div>
  </main>
</body>
</html>