<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>SIMS</title>
  <link rel="stylesheet" href="../style.css">
  <link rel="stylesheet" href="../stockPage/style_stock.css">
</head>

<body>
  <header class="menu">
    <h1><a href="../mainPage/MainPage.html">SIMS</a></h1>
    <nav class="clearfix">
      <u1 class="clearfix">
        <li><a href="../accountPage/AccountPage.html">가계부</a></li>
        <li><a href="../insertPage/InsertPage.html">내역입력</a></li>
        <li><a href="../stockPage/StockPage.html">재고관리</a></li>
        |
        <li><a href="../mainPage/MainPage.html">Login</a></li>
        <li><a href="../signupPage/SignUpPage.html">SignUp</a></li>
      </u1>
      <a id="pull" href="#"></a>
    </nav>
  </header>

  <main>
    재고관리
  </main>
</body>
</html>