@charset "UTF-8";

/* StockPage */
.side_content {
  font-family: '나눔스퀘어';
  font-size: 35pt;
  color: #FFFFDD;
  margin-top: 75px;
  margin-left: 75px;
}

.stock-box {
  width: 45%;
  height: 500px;
  background-color: white;
  border-radius: 3em;
  border: none;
  border-width: 10px 10px 10px 10px;
  border-style: solid;
  border-color: #FFFFDD;
  float: left;
  margin-top: 70px;
}

.preview-box {
  width: 45%;
  height: 500px;
  background-color: white;
  border-radius: 3em;
  border: none;
  border-width: 10px 10px 10px 10px;
  border-style: solid;
  border-color: #FFFFDD;
  float: right;
  position: relative;
  bottom: 75px;
}

.stock-box-button {
  width:160px;
  height: 70px;
  background-color:#FFFFDD;
  border-radius: 0.5em;
  border: none;
  border-color: #68CDB4;
  color: black;
  font-size: 20pt;
  position: relative;
  right: 610px;
  top: 600px;

}

.preview-box-button {
  width:160px;
  height: 70px;
  background-color:#FFFFDD;
  border-radius: 0.5em;
  border: none;
  border-color: #68CDB4;
  color: #68CDB4;
  font-size: 20pt;
  position: relative;
  left: 110px;
  top:530px;
  bottom: 20px;
}

.stock-box-select {
  width:230px;
  height:70px;
  background-color:#FFFFDD;
  color:black;
  border: none;
  border-radius: 0.5em;
  font-size: 20pt;
  position: relative;
  right: 560px;
  top: 10px;
}

.preview-box-select {
  width:230px;
  height:70px;
  background-color:#FFFFDD;
  color:#68CDB4;
  border: none;
  border-radius: 0.5em;
  font-size: 20pt;
  position: relative;
  left: 150px;
  bottom: 60px;
}