@charset "UTF-8";

/* StockPage */
.side_content {
  font-family: '나눔스퀘어';
  font-size: 35pt;
  color: #FFFFDD;
  margin-top: 75px;
  margin-left: 75px;
}

.left {
  font-family: '나눔스퀘어';
  margin-top: 25px;
  margin-left: 75px;
}

.left_name {
  width: 250px;
  height: 50px;
  background-color: #FFFFDD;
  border-radius: 0.5em;
  border: none;
  position: relative;
  font-size: 18pt;
  color: #349E85;
  text-align: center;
  padding: 10px;
}

.prdgrp_box {
  width: 620px;
  height: 500px;
  border-radius: 2em;
  border-style: solid;
  border-width: 13px;
  border-color: #FFFFDD;
  background-color: white;
  padding: 30px;
  text-align: center;
  margin-top: 15px;
}

.right {
  font-family: '나눔스퀘어';
  margin-top: -565px;
  margin-left: 880px;
}

#product {
  font-family: '나눔스퀘어';
  font-size: 15pt;
  width: 200px;
  height: 50px;
  background-color:#FFFFDD;
  border-radius: 30px;
  border-style: none;
  text-align: center;
  color: #349E85;
}

.prd_left {
  font-family: '나눔스퀘어';
  font-size: 20pt;
  color: #FFFFDD;
  margin-top: -42px;
  margin-left: 230px;
  margin-bottom: 30px;
}

.paygrp_box {
  width: 620px;
  height: 500px;
  border-radius: 2em;
  border-style: solid;
  border-width: 13px;
  border-color: #FFFFDD;
  background-color: white;
  padding: 30px;
  text-align: center;
  margin-top: 15px;
}

.prd_tomorrow {
  font-family: '나눔스퀘어';
  font-size: 20pt;
  color: #FFFFDD;
  margin-top: 20px;
  margin-left: 25px;
}