<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>SIMS</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <header class="menu">
    <h1><a href="MainPage.html">SIMS</a></h1>
    <nav class="clearfix">
      <u1 class="clearfix">
        <li><a href="AccountPage.html">가계부</a></li>
        <li><a href="InsertPage.html">내역입력</a></li>
        <li><a href="StockPage.html">재고관리</a></li>
        |
        <li><a href="MainPage.html">Login</a></li>
        <li><a href="SignUpPage.html">SignUp</a></li>
      </u1>
      <a id="pull" href="#"></a>
    </nav>
  </header>

  <main>
    <div class = "side_up">가계부</div>
  </main>
</body>
</html>