@charset "UTF-8";

/* AccountPage */
.side_content {
  font-family: '나눔스퀘어';
  font-size: 35pt;
  color: #FFFFDD;
  margin-top: 75px;
  margin-left: 75px;
}

.left {
  font-family: '나눔스퀘어';
  margin-top: 60px;
  margin-left: 130px;
}

.left-box {
  width: 580px;
  height: 600px;
  background-color: white;
  border-radius: 2em;
  border-style: solid;
  border-width: 13px;
  border-color: #FFFFDD;
  padding: 30px;
  text-align: center;
}

.gain-head {
  width:160px;
  height: 60px;
  background-color: #FFFFDD;
  border-radius: 0.5em;
  position: relative;
  font-size: 18pt;
  color: #349E85;
  padding: 15px;
  text-align: center;
  margin-left: 210px;
  margin-bottom: -8px;
}

.gain-list {
  font-size: 18pt;
  color:#349E85;
}

.gain-insert {
  width: 160px;
  height: 60px;
  background-color: #FFFFDD;
  border-radius: 0.5em;
  border: none;
  color: #349E85;
  font-size: 18pt;
  position: relative;
  margin-top: 15px;
  margin-left: 0px;
}

.gain-insert a {
  text-decoration: none;
  color: #349E85;
}

.gain-modify {
  width:160px;
  height: 60px;
  background-color:#FFFFDD;
  border-radius: 0.5em ;
  border: none;
  color: #349E85;
  font-size: 18pt;
  position: relative;
  margin-top: 15px;
  margin-left: 45px;
}

.gain-modify a {
  text-decoration: none;
  color: #349E85;
}

.gain-delete {
  width: 160px;
  height: 60px;
  background-color: #FFFFDD;
  border-radius: 0.5em;
  border: none;
  color: #349E85;
  font-size: 18pt;
  position: relative;
  margin-top: 15px;
  margin-left: 45px;
}

.gain-delete a {
  text-decoration: none;
  color: #349E85;
}

.right {
  font-family: '나눔스퀘어';
  margin-top: -721px;
  margin-left: 950px;
}

.right-box {
  width: 580px;
  height: 600px;
  background-color:white;
  border-radius: 2em;
  border-width: 13px;
  border-style: solid;
  border-color: #FFFFDD;
  position: relative;
  padding: 30px;
  text-align: center;
}

.pay-head {
  width:160px;
  height: 60px;
  background-color: #FFFFDD;
  border-radius: 0.5em;
  position: relative;
  font-size: 18pt;
  color: #349E85;
  padding: 15px;
  text-align: center;
  margin-left: 210px;
  margin-bottom: -8px;
}

.pay-list {
  font-size: 18pt;
  color:#349E85;
}

.pay-insert {
  width: 160px;
  height: 60px;
  background-color: #FFFFDD;
  border-radius: 0.5em;
  border: none;
  color: #349E85;
  font-size: 18pt;
  position: relative;
  margin-top: 15px;
  margin-left: 0px;
}

.pay-insert a {
  text-decoration: none;
  color: #349E85;
}

.pay-modify {
  width:160px;
  height: 60px;
  background-color:#FFFFDD;
  border-radius: 0.5em;
  border: none;
  color:#349E85;
  font-size: 18pt;
  position:relative;
  margin-top: 15px;
  margin-left: 45px;
}

.pay-modify a {
  text-decoration: none;
  color: #349E85;
}

.pay-delete {
  width: 160px;
  height: 60px;
  background-color: #FFFFDD;
  border-radius: 0.5em;
  border: none;
  color: #349E85;
  font-size: 18pt;
  position: relative;
  margin-top: 15px;
  margin-left: 45px;
}

.pay-delete a {
  text-decoration: none;
  color: #349E85;
}